



body {
	font-family: arial;
	background-color: #f7f7f7;
	margin: 0;

}


p {  }

/*Styles*/

li {
	list-style-type: none;
	display: inline;
	float-right;
	border: red solid 2px;
}
nav{
	display: inline;
}

.title {
	width: 40%;
	list-style-type: none;
	display: inline;
}
ul{
	padding-right:10px;
	float: right;
	border: solid black 1px;
	text-align: right;
}




/*Layout Styles*/

header {
	width:90%;
	margin: auto;
	max-width:1024px;
}

/*Footer*/

.secondary-content {
	max-width: 1024px;
}
.contact {
	padding: 50px 0 50px;
}
footer {
	border-top: solid darkgrey 1px;
	max-width: 1024px;
	margin: auto;
}

.title {
	width: 40%;
	display: inline;
}

ul{
	padding-right 10px;
	float: right;
}

.bio, .profile-pic
 {
	width:46.5%;
	height: auto;

	}

.profile-p {
	float: right;
	margin-top:10px;
	width: 50%;

}

.bio {
	float: left;
}

/*Primary content*/


.primary-content, .secondary-content {
	margin: auto;
	text-align: center;
	
}

.primary-content {
	background-color: white;
	margin: 12px;
}

.portfolio {
	max-width: 1024px;
	width:90%;	 
	margin: auto;
	text-align: center;
	

}

.portfolio-section {
	display: inline-block;







}

.portfolio-section img {
	width: 300px;
	padding: 0px 30px 30px 0;
	
}



/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}