/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}
body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0 auto;
	line-height: 1.6;
}
.wrapper {
	background-color: #f4f4f4;
	width: 100%;
}
.main-header {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.main-nav li {
	background-color: white;
	margin: 0.5em;
	padding: 0.5em 0 1em;
	font-weight: 600;
}
.main-nav {
	list-style-type: none;
}
.bio {
	margin-top: 10px;
	margin-bottom: 10px;
}
.profile-pic {
	width: 50%;
}
a {
	text-decoration: none;

}

li a:hover {
color: darkgrey;
border-bottom: solid 2px darkgrey;

}



h1 {
	font-family: 'Roboto',arial, sans-serif;
	font-weight: 100;
}


.footer-title a {
	color: black;
}
/* ---- Footer Styles ---- */

.secondary-content {
	background-color: #f4f4f4;
	padding: 5em 0;
}
.secondary-content h3+p {
	margin: 1em 0;
}
#footer-title, #backtotop {
	display: inline-block;
	width: 50%:;
	margin: 20px;
}
#backtotop {
	float: right;
	color: black;
}

h3 {
	font-size: 1.5em;
	
}



.footer-nav {
	display: none
}
/* ================================= 
  Base layouts Layouts
==================================== */

/* ---- Navigation ---- */

.name {
	margin: 0;
}
.name, .main-nav {
	display: block;
	text-align: center;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: black;
	text-transform: uppercase;
}
img {
	max-width: 99%;
}
/* ---- Layout Containers ---- */

.profile-d {
	margin: 0 1em 0;
}
#portfolio-title {
	margin-bottom: 2em;
}
.bio {
	text-align: center;
	margin-bottom: 3em;
}
.portfolio-section {
	margin-bottom: 3em;
}
.portfolio-section h3 {
	margin: 1em 0;
}
.primary-content {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
}
.secondary-content {
	text-align: center;
}
.secondary-content h3+p {
	margin: 1em 2em;
}
footer {
	border-top: solid 1px darkgrey;
	padding-top: 30px;
}

.skills-content {
	text-align: center;
	margin-bottom: 30px;
	border-top: solid 1px darkgrey;
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;

}

ul .skills-list {
	padding-left: none;
		list-style-type: none;
}
.skill-list li {
	padding-bottom: 10px;
	padding-top: 10px;
	list-style-type: none;
	list-style: none;
	text-align: center;
	font-weight: 600;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width:768px) {
	.main-nav li {
		display: inline-block;
		background-color: transparent;
	}
	.bio {
		width: 80%;
		margin: 0 auto;
	}
	.profile-pic {
		float: right;
		width: 300px;
	}
	.profile-d {
		width: 40%;
		margin: 0;
		float: right;
		margin-right: 2em;
		text-align: left;
	}
	.primary-content {
		margin-top: 5em;
	}
	.portfolio-section img {
		max-width: 300px;
		display: inline-block;
	}
	.portfolio-section {
		width: 40%;
		display: inline-block;
		margin: 1em;
		vertical-align: top;
	}
	#backtotop {
		display: none;
	}
	footer {
		width: 80%;
		margin: 0 auto;
	}
	.footer-title {
		margin-top
	}
	.footer-nav {
		display: inline-block;
		float: right;
	}
	.footer-nav li {
		display: inline;
		font-size: .95em;
		color: red;
		text-transform: uppercase;
		text-decoration: none;
		padding-right: 1.5em;
	}
	.footer-nav a {
		color: black;
		font-weight: 600
	}
	#footer-title {
		margin-top: 0;
	}
}
@media (min-width:1020px) {
	.portfolio-section {
		width: 30%;
		display: inline-block;
		margin: 1em;
	}
	.main-header, .primary-conent, footer {
		max-width: 1200px;
	}
	.profile-d {
		float: left;
	}
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}
	.name, .main-nav {
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}
	.name {
		float: left;
		width: 30%;
	}
	.main-nav {
		float: right;
		width: 40%;
		text-align: right;
		padding-right: 0;
	}

	.main-nav li {
		padding-right;
	}

	
	.name {
		text-align: left;
		margin: 0;
		padding-left: 0;
	}
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}